@media screen and (max-width: 321px) {
    .name {
        font-size: 1.5em;
    }

    .hero::after {
        background: #02b3e4 url(../img/cover/cover-small-320.jpg) no-repeat center;
    }
}

@media screen and (min-width: 600px) {
    .hero::after {
        background: #02b3e4 url(../img/cover/cover-large-1024.jpg) no-repeat center;
        background-size: cover;
    }

    .projects-container {
        display: flex;
        flex-wrap: wrap;
    }

    .project {
        width: calc(50% - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }

    /*.project-desc {
        left: 10px;
        right: 10px;
    }*/

}

@media screen and (min-width: 1040px) {
    .projects-container {
        display: flex;
        flex-wrap: wrap;
    }

    .project {
        width: calc(100% / 3 - 20px);
    }
}

@media screen and (min-width: 1150px) {
    /*.hero::after {
        background: #02b3e4 url(../img/cover/cover-large-1024.jpg) no-repeat center;
    }*/

    .projects-container {
        justify-content: space-between;
    }

    .project {
        margin-left: 0;
        margin-right: 0;
    }

    .logo {
        margin-left: -10px;
    }

    .header-title {
        margin-right: 0;
    }
}






